@keyframes ldio-vc76htzamw {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}

.ldio-vc76htzamw div {
  position: absolute;
  animation: ldio-vc76htzamw 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 5.6000000000000005px 0 0 #00bc8c;
  transform-origin: 80px 82.8px;
}

.loadingio-spinner-eclipse-gzsbpq8et6o {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-vc76htzamw {
  width: 50%;
  height: 50%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-vc76htzamw div { box-sizing: content-box; }