@import '../../style/mixins';

.item-details {
  padding: 2rem;
  border: 1px solid #545454;

  @include breakpoint('tablet') {
    padding: 15px;
  }

  @include breakpoint('small') {
    padding: 15px;
  }

  .item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px 40px;

    @include breakpoint('small') {
      display: block;
    }

    h4 {
      font-size: 32px;
      text-transform: capitalize;
      margin-bottom: 14px;
      font-weight: bold;

      @include breakpoint('small') {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .item-image {
      width: inherit;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      max-width: 140px;
      min-width: 100px;

      @include breakpoint('small') {
        max-width: 100px;
        margin: 0 auto;
        display: block;
      }
    }

    .item-info, .item-info ul {
      list-style: none; 
      padding: 0;
      margin-bottom: 0;

      span {
        color: #fff;
        margin-right: 3px;
        font-size: 16px;
      }

      li {
        padding: 5px 0;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #c3c3c3;
      } 

      &--base {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-left: 20px;

        @include breakpoint('tablet') {
          grid-column-end: 4;
        }

        @include breakpoint('small') {
          margin: 0px;
          margin-bottom: 30px;
        }       

        ul li {
          font-size: 16px;
          line-height: 27px;

          span {
            font-size: 18px;
          }

          @include breakpoint('tablet') {
            line-height: 35px;
            padding: 0px;
          }

          @include breakpoint('small') {
            font-size: 16px;
            line-height: 27px;
          }
        }
      }

      &--details {
        width: 100%;
        padding: 10px 20px;
        background-color: #5fbd8d8f;
        border-radius: 5px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px 20px;

        @include breakpoint('small') {
          display: block;
          padding: 10px 15px;
        }

        li {
          font-size: 16px;
          font-weight: bold;

          &:last-child {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 6;
          }
        }
      }
    }

    .item-inner-ul {

      &.collapse {
        display: none;
      }

      &--large {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ffffff78;
        border-radius: 4px;
        
        @include breakpoint('small') {
          display: block;
        }
  
        li {
          flex-basis: 170px;
          margin-left: 30px;

          @include breakpoint('tablet') {
            flex-basis: 150px;
            margin-left: 20px;
          }
        }
      }

      li {
        font-weight: 100;
      }

      span {
        margin: 5px 0;
      }

      p {
        margin-bottom: 2px;
      }
    }

    .expand {
      padding: 6px 0;
      display: inline-flex;
      font-weight: bold;
      border: none;

      &::after {
        content: '';
        display: block;
        border: 8px solid transparent;
        border-top-color: #fff;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}