@import '../../style/mixins';

.item-details {
  padding: 2rem;
  border: 1px solid #545454;

  @include breakpoint('tablet') {
    padding: 15px;
  }

  @include breakpoint('small') {
    padding: 15px;
  }

  .item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px 40px;

    @include breakpoint('small') {
      display: block;
    }

    h4 {
      font-size: 32px;
      text-transform: capitalize;
      margin-bottom: 14px;

      @include breakpoint('small') {
        font-size: 24px;
        text-align: center;
      }
    }

    .item-image {
      width: inherit;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      max-width: 250px;
      min-width: 200px;
      margin: auto 0;

      @include breakpoint('small') {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
      }
    }

    .item-info, .item-info ul {
      list-style: none; 
      padding: 0;
      margin-bottom: 0;

      li {
        padding: 5px 0;
        font-size: 14px;
        letter-spacing: 0.3px;
      } 

      &--base {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-left: 30px;

        @include breakpoint('tablet') {
          grid-column-end: 4;
        }

        @include breakpoint('small') {
          margin: 0px;
          margin-bottom: 30px;
        }

        ul li {
          font-size: 18px;
          line-height: 27px;

          @include breakpoint('tablet') {
            line-height: 35px;
            padding: 0px;
          }

          @include breakpoint('small') {
            font-size: 16px;
            line-height: 27px;
          }
        }
      }

      &--details {
        width: 100%;
        padding: 10px 20px;
        background-color: #5fbd8d8f;
        border-radius: 5px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;

        @include breakpoint('small') {
          padding: 10px 15px;
        }

        li {
          font-weight: bold;
        }
      }
    }

    .item-inner-ul {
      margin-left: 40px;

      @include breakpoint('tablet') {
        margin-left: 20px;
      }
      
      @include breakpoint('small') {
        margin-left: 10px;
      }

      li {
        font-weight: 100;
      }

      &--large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @include breakpoint('small') {
          display: block;
        }
      }
    }
  }
}