.header {  
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    display: inline-block;

    li {
      margin-right: 70px;
      font-size: 16px;
    }
  }

  h3 {
    font-size: 2rem;
    margin: 0;
    display: inline-block;
  }

  h3 a {
    color: #fff;

    &:hover {
      color: grey;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}