.card-container {
  margin-right: -30px;

  .item-list {
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: -15px;

    .card {
      min-width: 20%;
      height: 300px;
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;

      img {
        width: 160px;
        height: 160px;
      }

      span {
        font-size: 20px;
        text-transform: capitalize;
      }
    }
  }
}