.item-list {
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 30px;

  .card {
    width: 20%;
    height: 300px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: 160px;
      height: 160px;
    }

    span {
      font-size: 20px;
      text-transform: capitalize;
    }
  }
}