@import '../../style/mixins';

.card-container {
  margin: 0 -15px;

  .item-list {
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 30px;

    .card {
      min-width: 20%;
      height: 300px;
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;

      @include breakpoint('tablet') {
        min-width: 30%;
      }

      @include breakpoint('small') {
        min-width: 50%;
        height: 200px;
        margin: 10px 20px;
        justify-content: space-between;
      }

      img {
        width: 160px;
        height: 160px;

        @include breakpoint('small') {
          width: 120px;
          height: 120px;
        }
      }

      span {
        font-size: 20px;
        text-transform: capitalize;

        @include breakpoint('small') {
          font-size: 18px;
        }
      }
    }
  }
}